<bsp-carousel class="Carousel">
    {{include "/link/AnchorLink.hbs" this}}
    <div class="Carousel-slides">
        {{#each slides}}
            <div class="Carousel-slide">
                {{include "/carousel/CarouselSlide.hbs" this slideNumber=@index numberOfSlides=../slides.length}}
            </div>
        {{/each}}
    </div>
</bsp-carousel>
